<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Music</title>
</head>
<body>
    <p>¿Profe, ya se vio Dark?</p>
    <audio controls autoplay>
        <source src="{{ url_for('static', filename='darkSoundtrack.mp3') }}" type="audio/mp3">
        Tu navegador no soporta la etiqueta de audio.
    </audio>

    <script>
        var audio = document.getElementById("myAudio");
        audio.play();
    </script>

</body>
</html>